## Count Spikes
- the code counts how many spikes in a day

In [1]:
import numpy as np
import pandas as pd
df_sep = pd.read_csv('Sep_basefee.csv')
df_sep.head()

   block_number  block_date  block_hour      time    base_fee
0      13136427  2021-09-01           0  00:00:12  124.202762
1      13136428  2021-09-01           0  00:00:40  139.713515
2      13136429  2021-09-01           0  00:00:44  130.857527
3      13136430  2021-09-01           0  00:00:46  115.769453
4      13136431  2021-09-01           0  00:00:48  108.952305

In [2]:
## define a peak as a spike to be 2 sd from the mean, 
## within a spike before drop back to the mean 

mean = np.mean(df_sep.base_fee)  # 86.92
sd = np.std(df_sep.base_fee)   # 81.64
peak_value = mean + 2*sd
# peak_value  # 250
count = 0 
within_peak = False 
for i in df_sep.base_fee.values:
    if i > peak_value: 
        within_peak = True    
    elif i < mean:            
        if within_peak:
            count+=1
        within_peak = False    
count

61